<div class="store  flex">
  <div class="sidebar  gradient-v2"  [ngClass]="{'scrollShow': scroll == true}">
    <app-sidebar></app-sidebar>
  </div>
  <div class="conten-body fondo-gris">
    <div class="full-height">
      <div class="flex-between item-center margin-b-30">
        <div class="buummer-r">
          <img src="assets/Images/static/buu1.png" class="full-width" alt="">
        </div>
        <div class="input font-12">
          <input type="text" class="full-height  border-not full-width" placeholder="Buscar">
          <div class="icon-input gradient-2  flex-around item-center white-text">
            <i class="fa fa-search " aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

