.store {
  width: 100%;
  height: 100%;
}

.sidebar {
  position: fixed;
  width: 280px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.conten-body {
  padding: 0 50px;
  width: calc(100% - 380px);
  margin-left: 280px;
  position: absolute;
  height: 100%;
}

.input {
  border-radius: 35px;
  background: #ffffff;
  height: 30px;
  width: 500px;
  padding-left: 10px;
  box-shadow: 0px 2px 11px 0px #bdbdbd;
  display: flex;
  overflow: hidden;

}

.icon-input {
  width: 90px !important;
  border-radius: 35px;
}

.buummer-r{
  width: 240px;
}
