<section class="categories">
  <div class="flex">
    <p class="font-28 text-gris no-margin">Recomendados para ti</p>
  </div>
  <div class="margin-t-20 flex-between item-center ">
    <i (click)="left()" class="fa fa-chevron-left text-gris" aria-hidden="true"></i>
    <section id="slideCa" class="ov-hi">
      <div id="slideCa2" class="flex">
        <div class="content-b" *ngFor="let item of recomended">
          <div class="white buapps">
            <div class="img-buapps center margin-t-30">
              <img src="assets/Images/imag.png" class="full-width" alt="">
            </div>
            <div class="text-center center margin-t-20 font-12">
              <span>Loremp imsup</span>
            </div>
          </div>
          <div class="badge-bu font-12 gradient-2 text-center margin-t-10 white-text center">Comprar</div>
        </div>
      </div>
    </section>
    <i (click)="right()" disa class="fa fa-chevron-right text-gris" aria-hidden="true"></i>
  </div>
</section>
