<div class="content-buapps full-width">
  <div class="">
    <img class="full-width" src="assets/Images/static/banner.png" alt="">
  </div>
  <div class="margin-t-40">
    <div class="flex-reverse flex item-center font-13">
      <button class="tra border-not text-gris">Ver todo</button>
      <div class="margin-l-10">
        <select class="tra border-not text-gris" name="" id="">
          <option value="1">Ordenar A-Z</option>
        </select>
      </div>
    </div>
    <div id="list-app" class="list-apps full-width ov-hi margin-t-5">
      <div id="prg" class="progres gradient-2"></div>
    </div>
  </div>
  <div class="margin-t-30">
    <div id="cright"  class="flex-between item-center font-16">
      <i (click)="left()" class="fa fa-chevron-left text-gris" aria-hidden="true"></i>
      <div id="sliderBu" class="flex ov-hi" >
        <div id="sliderBu2" class="flex">
          <div class="content-b" *ngFor="let buapp of buapps">
            <div class="buapps font-13 white" >
              <div class="title text-center">
                <span>Buapps 1</span>
                <div class="img-buapps center margin-t-20">
                  <img src="assets/Images/imag.png" class="full-width" alt="">
                </div>
                <div class="descript center margin-t-20 font-12">
                  <span>Loremp imsup</span>
                </div>
              </div>
            </div>
            <div class="flex-between margin-t-10">
              <section class="flex">
                <img src="assets/Images/Icons/1x/start-off.png" width="15px" height="15px"  alt="">
                <img src="assets/Images/Icons/1x/start-off.png" width="15px" height="15px" alt="">
                <img src="assets/Images/Icons/1x/start-off.png" width="15px" height="15px" alt="">
                <img src="assets/Images/Icons/1x/start-off.png" width="15px" height="15px" alt="">
                <img src="assets/Images/Icons/1x/start-off.png" width="15px" height="15px" alt="">
              </section>
              <div class="badge-bu gradient-2 white-text font-12 text-center">
                <span class="">Gratis</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <i (click)="right()" disa class="fa fa-chevron-right text-gris" aria-hidden="true"></i>
    </div>
  </div>
</div>

