.content-buapps{
  .list-apps{
    height: 3px;
    background:#bdbdbd;
  }

}

.progres{
  height: 100%;
}
#sliderBu{
  width: calc(100% - 70px);
}


#cright i{
  cursor: pointer;
}

.badge-bu{
  width: 60px;
}
section > img:nth-child(n+2){
  margin-left: 5px;
}
