<div class=" full-height">
  <div class="center logo">
    <img class="full-width" src="assets/Images/static/logo.png" alt="">
  </div>
  <div class="content-list ">
    <li class="list white-text font-13" routerLink="buuapps"  (click)="this.listSelect = 1; ListSelect()" [ngClass]="{
    'border-left': listSelect == 1
    }">
      <img src="assets/Images/Icons/1x/logo-1.png" alt="">
      <span>Buuapps</span>
    </li>
    <li class="list white-text font-13 " routerLink="categories" [ngClass]="{
    'border-left': listSelect == 2
    }" (click)="this.listSelect = 2; ListSelect()">
      <div class="flex item-center margin-right">
        <img src="assets/Images/Icons/1x/applications.png" alt="">
        <span>Categorias</span>
      </div>
      <i class="fa fa-chevron-down white-text fa-lg" aria-hidden="true"></i>
    </li>
    <li class="list white-text font-13" [ngClass]="{
    'border-left': listSelect == 3
    }" (click)="this.listSelect = 3; ListSelect()">
      <img src="assets/Images/Icons/1x/config.png" alt="">
      <span>Configuraciones</span>
    </li>
    <li class="list white-text font-13" [ngClass]="{
    'border-left': listSelect == 4
    }" (click)="this.listSelect =4; ListSelect()">
      <img src="assets/Images/Icons/1x/help.png" alt="">
    <span>Ayuda</span>
    </li>
    <li class="list white-text font-13" [ngClass]="{
    'border-left': listSelect == 5
    }" (click)="this.listSelect = 5; ListSelect()">
      <img src="assets/Images/Icons/1x/files.png" alt="">
      <span>Terminos y condiciones</span>
    </li>
  </div>
  <div class="full-width font-13 white-text ">
    <p class=" product no-margin text-center">
      <span class="">Productos</span>
    </p>
  </div>
</div>
